<footer class="bg-gray-800 text-white text-center p-6 mt-10">
  <p class="text-sm">&copy; <%= Time.current.year %> Light and Peace. All rights reserved.</p>
  <p>Follow us on
    <a href="https://www.youtube.com/@LightandPeaceSpiritism" target="_blank" class="text-blue-400 hover:text-blue-500">YouTube</a>,
    <a href="https://www.instagram.com/lightandpeace_adelaide/" target="_blank" class="text-pink-400 hover:text-pink-500">Instagram</a>, and
    <a href="https://www.facebook.com/LightandPeaceSpiritistCentre/" target="_blank" class="text-blue-400 hover:text-blue-500">Facebook</a>.
  </p>
</footer>
