<footer>
  <p>&copy; <%= Time.now.year %> Light and Peace. All rights reserved.</p>
  <div class="footer">
  <p>Follow us on <a href="https://www.youtube.com/@LightandPeaceSpiritism" target="_blank">YouTube</a></p>
</div>

</footer>
