<h1>Pages#schedule</h1>
<p>Find me in app/views/pages/schedule.html.erb</p>
<h1>Our Schedule</h1>
<p>Here’s what we have going on this week:</p>
<ul>
  <li>Sunday Meditation: 9:00 AM - 10:00 AM</li>
  <li>Weekly Workshop: 11:00 AM - 12:30 PM</li>
  <li>Friday Gathering: 7:00 PM - 9:00 PM</li>
</ul>
